{% extends 'base.html.twig' %}

{% block title %}Plante
{% endblock %}

{% block body %}
	<div class="header d-flex justify-content-between">
		<h1>Plante</h1>
		<div class="button mt-3 d-flex">
			<a href="{{ path('app_plante_index') }}">
				<button class="btn btn-primary me-1 mb-2">
					back to list
				</button>
			</a>
			<a href="{{ path('app_plante_edit', {'id': plante.id}) }}">
				<button class="btn btn-primary">
					edit
				</button>
			</a>
			{{ include('plante/_delete_form.html.twig') }}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<img class="rounded mx-auto d-block" src="{{ vich_uploader_asset(plante, 'imageFile') }}" alt="{{ plante.imageName }}" style="height: 350px">
		</div>
		<div class="col-6">
			<div class="card p-3">
				<h3>{{ plante.label }}</h3>

				<h5>description :</h5>
				<p>{{ plante.description }}</p>
			</div>
			<div class="card p-3 mt-3">
				<h3 class="pb-4">Conseil utilisateur</h3>
				<span>
					<strong>
						utilisateur1 :
					</strong>
				</span>
				<p>Conseil</p>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					Voir plus...
				</button>
			</div>
		</div>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Conseil Utilisateur</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span>
							<strong>utilisateur1 : 24 mars</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur1 : 24 mars</strong>
						</span>
						<p>- offrez-lui une terre bien drainée à l’aide de billes d’argile.</p>
						<span>
							<strong>utilisateur2 : 2 avril</strong>
						</span>
						<p>- tolère les températures allant jusqu’à -12 °C pendant de courtes périodes.</p>
						<span>
							<strong>utilisateur3 : 5 avril</strong>
						</span>
						<p>- En hiver, réduisez les arrosages tout en veillant à ce que la terre ne se dessèche pas.</p>
						<span>
							<strong>utilisateur4 : 10 avril</strong>
						</span>
						<p>- Dans un godet, mélangez trois quarts de terre de compost et un tiers de perlite.</p>
						<span>
							<strong>utilisateur5 : 20 avril</strong>
						</span>
						<p>- Gardez à l’esprit que cet arbuste a besoin d’air frais.</p>
						<span>
							<strong>utilisateur6 : 22 avril</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur7 : 23 avril</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur8 : 25 avril</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur9 : 28 avril</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur10 : 30 avril</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
						<span>
							<strong>utilisateur11 : 3 mai</strong>
						</span>
						<p>- Dans le doute, mieux vaut ne pas arroser assez que trop.</p>
					</div>
				</div>
			</div>
		</div>

	</div>


{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script>
		const myModal = document.getElementById('exampleModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
myInput.focus()
})
	</script>

{% endblock %}
